$social-tags: '#AOEpeople';
$brand-small-icon-size: 30px;

/* AOE Primary Colors */
$aoe-orange:     rgba(247, 147, 29, 1); // #F7931D
$aoe-gray:       rgba(122, 137, 145, 1); // #7A8991
$aoe-light-gray: rgba(154, 169, 178, 1); // #9AA9B2
$aoe-white:      rgba(225, 230, 233, 1); // #E1E6E9

/* AOE Secondary Colors */
$aoe-yellow:     rgba(254, 193, 13, 1); // #FEC10D
$aoe-dark-gray:  rgba(96, 106, 113, 1); // #606A71
$aoe-light-blue: rgba(172, 188, 198, 1); // #ACBCC6

$aoe-gray-1: #5b646b;
$aoe-gray-2: #303539;
$aoe-gray-3: #7a8790;

$gray-1: #e6e6e6;
$gray-2: #a9a9a9;
$gray-3: #797979;
$gray-4: #515151;

$brand-blue: rgb(67, 135, 253);
$brand-blue-secondary: #3c8ef3;
$brand-blue-secondary2: #2a7cdf;

$brand-red: rgb(244, 74, 63);
$brand-red-secondary: #e0543e;
$brand-red-secondary2: #d94d3a;

$brand-yellow: rgb(255, 209, 77);
$brand-yellow-secondary: #f9cc46;
$brand-yellow-secondary2: #f6c000;

$brand-green: rgb(13, 168, 97);
$brand-green-secondary: #00a86d;
$brand-green-secondary2: #009f5d;

$slide-width: 1024px;
$slide-height: 700px;
$slide-width-widescreen: 1280px;
$slide-top-bottom-padding: 60px;
$slide-left-right-padding: 30px;
$slide-border-radius: 5px;

$slide-tap-area-width: 100px;

$article-content-top-padding: 65px;
