@import "compass/css3/background-size";

@import "variables";

* {
  line-height: 1.3;
}

h2 {
  font-weight: bold;
}
h2, h3 {
  color: white;
}

q, blockquote {
  font-weight: bold;
}

slides > slide {
  color: white;

  &.title-slide {

    hgroup {
      h1 {
        font-weight: bold;
        line-height: 1.1;
      }
      h2, p {
        color: white;
      }
      h2 {
        margin-top: 0.1em;
      }
      p {
        margin-top: 3em;
      }
    }
  }
}
